Connected Services/YYhUploadService/carryXmlToDbService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.entrance.si.neusoft.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="carryXmlToDbService" targetNamespace="http://webservice.entrance.si.neusoft.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://webservice.entrance.si.neusoft.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="handle" type="tns:handle" />
      <xs:element name="handleFile" type="tns:handleFile" />
      <xs:element name="handleFileResponse" type="tns:handleFileResponse" />
      <xs:element name="handleHistory" type="tns:handleHistory" />
      <xs:element name="handleHistoryResponse" type="tns:handleHistoryResponse" />
      <xs:element name="handleResponse" type="tns:handleResponse" />
      <xs:complexType name="handleFile">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="handleFileResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="handleHistory">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="handleHistoryResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="handle">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="handleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="Exception" type="tns:Exception" />
      <xs:complexType name="Exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="handleResponse">
    <wsdl:part name="parameters" element="tns:handleResponse" />
  </wsdl:message>
  <wsdl:message name="handleFileResponse">
    <wsdl:part name="parameters" element="tns:handleFileResponse" />
  </wsdl:message>
  <wsdl:message name="handleHistory">
    <wsdl:part name="parameters" element="tns:handleHistory" />
  </wsdl:message>
  <wsdl:message name="handleHistoryResponse">
    <wsdl:part name="parameters" element="tns:handleHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part name="Exception" element="tns:Exception" />
  </wsdl:message>
  <wsdl:message name="handle">
    <wsdl:part name="parameters" element="tns:handle" />
  </wsdl:message>
  <wsdl:message name="handleFile">
    <wsdl:part name="parameters" element="tns:handleFile" />
  </wsdl:message>
  <wsdl:portType name="CarryXmlToDbService">
    <wsdl:operation name="handleFile">
      <wsdl:input name="handleFile" message="tns:handleFile" />
      <wsdl:output name="handleFileResponse" message="tns:handleFileResponse" />
    </wsdl:operation>
    <wsdl:operation name="handleHistory">
      <wsdl:input name="handleHistory" message="tns:handleHistory" />
      <wsdl:output name="handleHistoryResponse" message="tns:handleHistoryResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="handle">
      <wsdl:input name="handle" message="tns:handle" />
      <wsdl:output name="handleResponse" message="tns:handleResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="carryXmlToDbServiceSoapBinding" type="tns:CarryXmlToDbService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="handleFile">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="handleFile">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="handleFileResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="handleHistory">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="handleHistory">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="handleHistoryResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="handle">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="handle">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="handleResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="carryXmlToDbService">
    <wsdl:port name="CarryXmlToDbServiceImplPort" binding="tns:carryXmlToDbServiceSoapBinding">
      <soap:address location="http://10.120.48.15:8889/SJCJSJSCJKL/SJSCL" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>